<p id="notice"><%= notice %></p>

<h1>Listing Apartments</h1>

<table>
  <thead>
    <tr>
      <th>Address line1</th>
      <th>Address line2</th>
      <th>Description</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Parking</th>
      <th>Gym</th>
      <th>Price</th>
      <th>Address suburb</th>
      <th>Address postcode</th>
      <th>Address state</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.address_line1 %></td>
        <td><%= apartment.address_line2 %></td>
        <td><%= apartment.description %></td>
        <td><%= apartment.bedrooms %></td>
        <td><%= apartment.bathrooms %></td>
        <td><%= apartment.parking %></td>
        <td><%= apartment.gym %></td>
        <td><%= apartment.price %></td>
        <td><%= apartment.address_suburb %></td>
        <td><%= apartment.address_postcode %></td>
        <td><%= apartment.address_state %></td>
        <td><%= link_to 'Show', apartment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

